<div>
  {% set foo = "is-active" %}
  {{ foo }}
</div>

<nav class="navbar" role="navigation" aria-label="main navigation">
  {% set navPages = collections.all | eleventyNavigation %}
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      <img src="../static/img/logo27.png" width="112" height="28">
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu is-active">
    <div class="navbar-start">
     {%- for entry in navPages %}
     {% if entry.url == page.url %}     {% set foo = "is-active" %}  {% else %}  {% set foo = "blabber" %}    {% endif %}
      <a class="navbar-item is-tab {{ foo }} " href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    {%- endfor %}
  </div>
   
</nav>
