
<!--
<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
  {%- for entry in navPages %}
    <li>
      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
  -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  
<!-- Using a <label /> here -->
  <label class="nav-toggle" for="nav-toggle-state">
    <span></span>           <!-- ^^^^^^^^^^^^^^^^ -->
    <span></span>
    <span></span>
  </label>
  <!-- This checkbox is hidden -->
  <input type="checkbox" id="nav-toggle-state" />
  
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
    {%- for entry in navPages %}
      <a class="navbar-item" href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    {%- endfor %}
   </div>

    <div class="navbar-end">
      <div class="navbar-item">        
      </div>
    </div>
  </div>
</nav>
<!-- </nav> -->
