<section>
	{% for post in postslist | reverse %}
	  
         <a class=" box has-background-info-light" href="{{ post.url | url }} " >
	   <p class="button has-background-info is-fullwidth has-text-weight-semibold"> {{ post.data.title }} </p>
	   <p> {{ post.data.summary }} </p>
           <p> {{ post.date | readableDate }} by {{ post.data.author}} </p>
	 </a>
	  
	{% endfor %}
</section>
