<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	{% include "components/head.njk" %}
	<body>
		<header> 
		  <!-- <p><a href="{{ '/' | url }}">{{ metadata.title }}</a></p>  -->
		  {% include "components/nav.njk" %}
		</header>

		<main class="pl-2 pr-2" >
		  <content>
			{{ layoutContent | safe }}
			<!-- <p>hello from main tag inside base.njk </p> -->
		  </content>
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
