---
layout: layouts/base.njk
section: post
---

  <content class="content">
    <p class="button is-static has-background-info is-fullwidth has-text-weight-bold">{{ title }}</p> 
    <p> <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time> by <a href="/authors/{{ author | slug }}/">{{ author }}</a> </p>
    <h6>{{ summary }}</h6>   
    {{ layoutContent | safe }}
  </content>  

  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a class="button is-small is-rounded has-background-info-light has-textweight-semibold"  href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}
<br>
<div>
  <a class="button has-background-link has-textweight-semibold" href="{{ '/blog/' | url }}#{{ title }}" >← Blog Index</a>
</div>
