---
layout: layouts/base.njk
section: swordFish
---
<h1>{{ title }}</h1>
<p> hello from eleventy-netlify-boilerplate/_includes/layouts/swordFish.njk</p>
<img src="img_girl.jpg" alt="Girl in a jacket">
{{ layoutContent | safe }}
