---
layout: layouts/base.njk
section: swordFish
---
<h1>{{ title }}</h1>
<p> hello from eleventy-netlify-boilerplate/_includes/layouts/swordFish.njk</p>
<p> seems like ya gotta stuff pics in folder: static/img/ </p>
<p> eleventy.js has some passthrough logic to upload those images to netlify. </p>
<p> in swordFish.njk: img src="../static/img/img_girl.jpg" . </p>
<img src="../static/img/img_girl.jpg" alt="Girl in a jacket" width="500" height="600">
<p> have fun. </p>
<p> have fun. </p>
<p> have fun. </p>
<p> have fun. </p>
{{ layoutContent | safe }}
